mixin nav
    div.nav
        div.nav_mobileMenu(onclick="toggleNav()")
            div.nav_mobileMenu_bar
            div.nav_mobileMenu_bar
            div.nav_mobileMenu_bar
        nav#nav.nav_links
            a.nav_links_link(href='#work') Work