mixin hero
    div.hero
        div.hero_background
            img(class='hero_background_mobile' src='lib/image/hero/mobile_bits_background.png' alt='Circles, Triangles, Squares, and Swiggle Lines.')
            img(class='hero_background_desktop' src='lib/image/hero/desktop_bits_background.png' alt='Circles, Triangles, Squares, and Swiggle Lines.')
        h1.text-center Hello World.