mixin socials()
    div.socials
        a.socials_link(href='https://dribbble.com/matthewrdangle' target='_blank' rel="noopener" title="Opens Matthew R. Dangles' Dribbble profile in a new tab." aria-label="Open Dribbble Profile")
            i.fab.fa-dribbble(role='presentation')
        a.socials_link(href='https://www.behance.net/matthewrdangle' target='_blank' rel="noopener" title="\"Opens Matthew R. Dangles' Behance profile in a new tab." aria-label="Open Behance Profile")
            i.fab.fa-behance-square(role='presentation')
        a.socials_link(href='https://github.com/matthewrdangle' target='_blank' rel="noopener" title="\"Opens Matthew R. Dangles' Github profile in a new tab." aria-label="Open Github Profile")
            i.fab.fa-github(role='presentation')
        a.socials_link(href='https://twitter.com/matthewrdangle' target='_blank' rel="noopener" title="\"Opens Matthew R. Dangles' Twitter profile in a new tab." aria-label="Open Twitter Profile")
            i.fab.fa-twitter(role='presentation')
        a.socials_link(href='https://www.instagram.com/matthewrdangle/' target='_blank' rel="noopener" title="\"Opens Matthew R. Dangles' Instagram profile in a new tab." aria-label="Open Instagram Profile")
            i.fab.fa-instagram(role='presentation')
        a.socials_link(href='https://www.linkedin.com/in/matthewrdangle' target='_blank' rel="noopener" title="\"Opens Matthew R. Dangles' LinkedIn profile in a new tab." aria-label="Open LinkedIn Profile")
            i.fab.fa-linkedin(role='presentation')
        a.socials_link(href='https://www.facebook.com/matthewrdangle' target='_blank' rel="noopener" title="\"Opens Matthew R. Dangles' facebook profile in a new tab." aria-label="Open facebook Profile")
            i.fab.fa-facebook(role='presentation')